* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
  font-size: 20px;
}
.mainContainer {
  margin: 0 200px 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin: 40px -50px 0px -50px;
}
header h1 {
  font-size: 50px;
  font-weight: 500;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}
.navbar a {
  text-decoration: none;
  font-size: 25px;
}
.navIcons {
  width: 200px;
  height: 20px;
  background-color: #ff00cc;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 470px;
  margin-top: 80px;
}
.bannerText h1 {
  font-size: 80px;
  font-weight: 700;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bannerText p {
  font-size: 20px;
  line-height: 35px;
  margin-top: 20px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  width: 180px;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 30px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 45px;
}
.button2 {
  font-size: 20px;
  font-weight: 500;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 620px;
  height: 80px;
  border: 1px solid transparent;
  background: linear-gradient(#222222, #222222) padding-box,
    linear-gradient(10deg, #ff00cc, #333399) border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
.box h3 {
  background-color: #222222;
}
.midPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
}
.midPart h1 {
  margin-top: 60px;
  font-size: 40px;
}
.midPart h2 {
  margin-top: 60px;
  background: linear-gradient(10deg, #ff00cc, #333399);
  background-position: 0 35px;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  width: 65px;
  height: 60px;
  font-size: 25px;
}
.midPart p {
  margin-top: 60px;
}
.button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  width: 180px;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 60px;
}
.bio {
  width: 620px;
  margin-top: 60px;
}
.bio h3 {
  background: linear-gradient(10deg, #ff00cc, #333399);
  background-position: 0 35px;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  width: 65px;
  height: 60px;
  font-size: 25px;
}
.bio p {
  margin-top: 20px;
  line-height: 25px;
}
.space {
  margin-right: 30px;
}
.wrap {
  padding-left: 80px;
}
.specText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 620px;
  margin-top: 60px;
}
.specText h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.specContainter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
  margin-top: 60px;
}
.specBox {
  width: 400px;
  height: 300px;
  background-color: #222222;
  margin: 0 15px 0 15px;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
}
.specBox h1 {
  background-color: #222222;
  margin-bottom: 20px;
}
.specBox p {
  background-color: #222222;
}
